@page "/"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Schoolert</PageTitle>

<h1>@Localizer["HelloWorld"]</h1>

@Localizer["Welcome"]

<SurveyPrompt Title=@Localizer["SurveyPromptTitle"] />
